
body {
    background-color: lightgray;
    font-size: 18px;
}
@media (min-width: 1024px) {

    body {
        background-color: lightgrey;
        font-size: 28px;
    }
    
}
main{
    width: auto;
    margin: 0 auto;
}

.container {
   /* border: blue medium dashed;*/
  
    display: flex;
  
    flex-wrap: nowrap;
    flex-direction: row;
  
    /*justify-content: space-evenly;*/
  }

.container__right {
   /*flex: 1 1 1000px;*/
   width: 1000px;

   flex-direction: column;
}

.container__left {
    /*flex: 1 1 100px;*/
    width: 400px;
    height:fit-content;
   flex-direction: column;
   padding-left: 10%;
}

.container__top {
    width:inherit;
    flex-direction: row;
    
}

.section {
    background-color: white;
    border-radius: 4px;
    margin: 15px;
    padding: 6px 24px;
}



.section__content{
    

}

.section__separator{

}


.section .section__title {
    font-size: 1em;
    font-weight: bold;
    
}

/* block contr */
.contr {
display: flex;

}

.contr .contr__left {
  
flex-direction:column;
}

.contr .contr__right{
    flex-direction:row;
}


.contr .contr__stack li {
    display: inline;
    margin-right: 30px;
}

.contr .contr__stack li:before{
    content: "•";
  }


.contr .contr__pic {
    height:50px;
    width: 50px;
    margin: 5px;
    
    flex: 0 0 50px;
}

.contr .contr__pic .round {
    
        border-radius: 170px; 
        width: 340px;
}

.contr .contr__pic img{
    width: 100%;
    padding-top: 10px;
}

.contr .contr__content{
    margin-left: 15px;
    flex-direction: column;
    
    
}

.contr .contr__title{
    font-size: 1em;
    font-weight: bold;
    
}

.contr .contr__text{
    
    margin-left: 10px;
    font-size: 1em;
    flex: 10 10 50px;
}

.contr  .contr__stack{

    font-weight:normal;
    margin-left: 30px;
    padding: auto;
    display: inline;
}

