body {
  background-color: #a3a3a3;
  color:rgb(8, 8, 8);
  }

.section{
  border-radius: 3px;
  background-color: #ffffff;
  display: flex;
}

.section__left-content{
flex: 1 1;
}

.section__right-content{
  flex: 0 0 200px;
}

.route-search {
display: flex;
margin: 10px 100px;
}

.route-search__input-box {
flex: 2 0 200px;
}

.route-search__input-box input{
  width: 100%;
  box-sizing: border-box;
}

.route-search__submit-box{
flex: 1 0 100px;
}
.route-search__submit-box button{
  width: 100%;
}

.section__title {
  margin: 10px 30px;
}

.station-list {
  display: block;
  margin: 0;
  padding: 0;
}

.station-list__title {
  margin: 10px 0;
  padding: 0;
}

.station-list__item {
  display: block;
  border-radius: 10px;
  margin: 4px;
  padding: 5px 20px;
  border: #b1afbf;
  border-color: #e0dcfa;
  background-color: #e9e8e8;
  
}

.data {
  display: inline-block;
}

.data__name {
  color: #808080;
}

.data__value {
  color: #404040;
}